html{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    height: 40rem;
    overflow-y: scroll;
    background-color: #dadada;
}

header{
    width: 25rem;
    height: 4rem;
    background-color: rgba(49,49,49);
    border-radius: 2rem 2rem 0 0;
}

a{
    text-decoration: none;
}

/* header{
    width: 25rem;
    height: 4rem;
    background-color: rgba(49,49,49);
    border-radius: 2rem 2rem 0 0;
}
 */

footer{
    width: 25rem;
    height: 2rem;
    background-color: rgba(40,40,40);
    border-radius: 0 0 2rem 2rem ;
}
/* footer{
    width: 25rem;
    height: 2rem;
    background-color: rgba(40,40,40);
    border-radius: 0 0 2rem 2rem ;
} */

h1{
    padding:0;
    margin:0;
    font-size: 0;
}

h2{
    padding:0;
    margin:0;
}

p{
    padding:0;
    margin:0;
}

.card{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 25rem;
    /* border:1px solid red; */
}
.card_index{
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 22rem;
    /* border:1px solid red; */
}

.row_sb{
    display: flex;
    justify-content: space-between;
}

.padding-T-un-rem{
    padding-top: 1rem;
}

.padding-B-un-rem{
    padding-bottom: .5rem;
}

/* ************** BG COLOR********** */
.bgcolor-blue{
    background-color: #004d97;
}

.bgcolor-red{
    background-color: #df3030;
}

.bgcolor-purple{
    background-color: #b81ca3;
}

.bgcolor-brown{
    background-color: #a76a26;
}

.bgcolor-yellow{
    background-color: #d3c01b;
}

.bgcolor-pink{
    background-color: #fc95ee;
}

.bgcolor-green{
    background-color: #67b354;
}

.bgcolor-gray{
    background-color: #969696;
}

.bgcolor-white{
    background-color: #d6d6d6;
}


/**********    IMG    ************/

.cuadro_imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    /* border:1px solid green; */
}

.imagen{
    z-index: 99;
    height: 15rem;
    width: 15rem;
    padding:2rem;
    /* border: solid 1px red; */
}

.circle{
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 7.5rem;
}


/**********    TITULO    ************/

.cuadro_descripcion{
    padding:0;
    display: flex;
    flex-direction: column;
    padding-left:2rem;
    padding-right:2rem;
    width: calc(100% - 4rem);
    height: auto;
    padding-bottom: 1rem;
    background-color: rgb(40, 40, 40);
    /* border: solid 1px violet; */
}


.titulo{
    padding-top: .5rem;
    color: rgb(253, 253, 253);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    /* border:solid 1px white; */
}

.descripcion{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1rem;
    /* border:solid 1px yellow; */
}

.idPokemon{
    padding-top: .5rem;
    color: rgb(80, 80, 80);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    justify-content: left;
    font-size: 2rem;
}


/**********  CARACTERISTICAS  ************/

.cuadro_caracteristicas{
    display:flex;
    justify-content: space-around;
    /* text-align: center; */
    padding-left: .5rem;
    padding-right:2rem;
    width: calc(100% - 2.5rem );
    height: 2rem;
    background-color: rgb(49, 49, 49);
    color:white;
}

.caracteristicas_b{
    /* border: 1px solid red; */
    width: 100%;
    height: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.caracteristicas_d{
    /* border: 1px solid red; */
    width: 100%;
    height: 1.5rem;
    text-align: center;
}

.caracteristicas_img{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.iconCar{
    width: 2rem;
}

/******* MODULO INDEX **********/

.modulo_index{
    display: flex;
    justify-content: space-between;
    height: 6rem;
    margin: .25rem 0;
    /* background-color: rgb(228, 228, 228); */
    /* border: 1px solid green; */
    border-radius: 1rem;
    transition: all .5s;
}

.contenedor_index{
    display: flex;
    justify-content:center;
    align-items: left;
    flex-direction: column;
    width: 55%;
    margin-left: 1rem;
    /* border:solid 1px green; */
}

.titulo_index{
    margin-top: -10px;
    font-size: 1.8rem;
    color:black;
    /* border: 1px solid red; */
    overflow: hidden;
    height: auto;
}

.button_index{
    justify-content: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 1.7rem;
    font-size: 1rem;
    text-align:center;
   /*  border: 1px solid blue; */
    color: white;
    border-radius: .6rem;
    background-color: rgb(39, 39, 39);
}

.box{
    /* border: 1px solid green; */
    /* padding-top: .5rem; */
    height: 10rem;
    width: 9rem;
    overflow: hidden;
    transition: all .5s;
}

.box img{
    width: 95%;
    height: 6rem;
    object-fit:cover;
    object-position: top;
    transition: all .5s;
    /* border: 1px solid red; */
}

.hover_index:hover{
    /* width: 21rem; */
    color: white;
    background-color: rgba(27, 27, 27, 0.534);
}

.alto{
    height: 20rem;
    transition: all .5s;
}

.alto:hover{
    background-color: none;
}

.disp-none{
    display: none;
}

.modulo_on{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: .25rem 0;
    /* background-color: rgb(228, 228, 228); */
    /* border: 1px solid green; */
    border-radius: 1rem;
    transition: all .5s;
}

.contenedor_on{
    display: flex;
    justify-content:center;
    align-items: left;
    flex-direction: column;
    width: 90%;
    margin-left: 1rem;
}

.box_on{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    /* border: 1px solid green; */
    /* padding-top: .5rem; */
    height: 100%;
    width: 9rem;
    overflow: hidden;

}

.box_on img{
    width: 95%;
    height: 50%;
    object-fit:contain;
    object-position: center;
    /* border: 1px solid red; */
}