html{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 100vh;
}

h1{
    padding:0;
    margin:0;
}

p{
    padding:0;
    margin:0;
}

.centro{
    height: 30rem;
    width: 25rem;
    background-color: #004d97;
}

.cuadro_imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid green; */
}

.imagen{
    height: 17rem;
    width: 17rem;
    padding:2rem;
    /* border: solid 1px red; */
}

.cuadro_descripcion{
    padding:0;
    display: flex;
    flex-direction: column;
    padding-left:2rem;
    padding-right:2rem;
    width: calc(100% - 4rem);
    height: 9rem;
    background-color: rgb(48, 48, 48);
    /* border: solid 1px violet; */
}

.titulo{
    padding-top: .5rem;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    /* border:solid 1px white; */
}

.descripcion{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1rem;
    /* border:solid 1px yellow; */
}